<div class="blog-header text-center">
<h1 class="blog-title">A Literary Journey</h1>

    <p class="lead blog-description">
        <% if user_signed_in? %>
        Hi <%= current_user.email %>!
        <% end %>
        Please enjoy these excerpts of great reads!
    </p>
    <p><%= link_to 'View All Excerpts', articles_path, class: 'btn btn-lg btn-primary' %></p>
    <p><%= link_to 'Create New Excerpt', new_article_path, class: 'btn btn-lg btn-success' %></p>
</div>

